body {
    background-color: rgb(255, 202, 122);
    }

h1{
    color: red;
    margin-left: 15%
}

img{
    display: block;
    margin-left: 7.5%;
}

textarea {
    position: relative;
    left: 10%;
}

a{
    position: relative;
    padding: 15%;
}

.burger{
width: 100%;
}

.btn{
    background-color: blue;
    color: white;
    text-align: center;
    display: block; 
    margin: 0 auto;
    margin-left: 35%;
}


.text-two{
    position: relative;
    text-align: center;
}


.devoured {
 
    width: 70%;
    background-color: white;
    opacity: .75;
    display: block;
 
}

.new{
    width: 70%;
    /* margin: 15px; */
    background-color: white;
    opacity: .75;
    display: block;
}

