body {
    background-color: rgb(255, 202, 122);
    }

h1{
    color: red;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: blue;
    color: white;
    text-align: center;
    display: block; 
    margin: 0 auto;
    position: absolute;
    left: 49%;
    margin-right: -49%;
    bottom: 20%
}

textarea {
    position: absolute;
    left: 40%;
    margin-right: -40%;
    top: 55%;
    
}

.text-two{
    position: absolute;
    left: 37%;
    margin-right: -37%;
    bottom: 15%
}

a{
    position: absolute;
    left: 43%;
    margin-right: -43%;
    top: 40%;
}

.devoured {
 
    width: 140%;
    background-color: white;
    opacity: .75;
    display: block;
 
}

.new{
    width: 20%;
    margin: 15px;
    background-color: white;
    opacity: .75;
    display: block;
}

.devoured-burgers{
    width: 10%;
    position: fixed;
    bottom: 140px;
    right: 200px;
  
}

